#red{
	color: red;  
}
.hmm{
	margin-left: 35px;
	margin-right: 5px;
	vertical-align: bottom;
}
body{
	font-family: Roboto,arial,sans-serif;
}
#left-menu{
	width: 230px;
    padding: 13px 22px;
    //*box-sizing: border-box;*//
    box-sizing: border-box;
}
i{
	margin-right: 10px;
}