.red{
	width: 155px;
    color: #cc181e;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    display: block;
    padding-left: 19px;
}  
}
.hmm{
	margin-left: 35px;
	margin-right: 5px;
	vertical-align: bottom;
}
body{
	font-family: Roboto,arial,sans-serif;
}
#left-menu{
	width: 230px;
    padding: 13px 22px;
    //*box-sizing: border-box;*//
    box-sizing: border-box;
}
i{
	margin-right: 10px;
}
#home{
	background-color: #cc181e;
	color: #FFFFFF;
	/*text-decoration: none;*/
	display: block;
	/*padding: 4px 0px 4px 17px;*/

}
.sub{
	margin-left: 20px;
	color: #222;
	padding: 4px 0px 4px 17px;
	line-height: 28px;
	display: block;
}
.sub:hover{
	background-color: #222;
	color: #FFFFFF;
	text-decoration: none;
}
#tee{
	text-overflow: ellipsis;
}
img{
	width: 20px;
	height: 20px;
	margin-right: 5px;
	
}